body {
    color:white;
    background-color:deeppink;
    font-family: 'AkzidenzGroteskStd'

}

@font-face {
    font-family:'AkzidenzGroteskStd'; /*a name to be used later*/
    src: url('./fonts/AkzidenzGroteskStd-Md.otf'); /*URL to font*/
}

#container {
    display: inline-block;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 900px;
    height: 900px;
    margin: auto;

}

#kanye {
   /* background-color: blue;*/
    display: inline-block;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 50%;
    height: 50%;
    margin: auto;
 
}

#quote {
/*    background-color: beige;*/
    /*display: inline-block;*/
    position: relative;
    top: 70%;
  
    left: 0;
    right: 0;
    width: 40%;
    height: 15%;
    margin: auto;

}


.picture {
    max-height: 50%;
    max-width: 50%;
    display: inline-block;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}  

p.quote {
    font-size: 30px;
    text-align: center;
    font-weight: bold;
}

@media only screen and (max-device-width : 667px) {
  #quote {
    top:100%;
  }

  .picture {
    max-width:none;
    max-height:none;
    width:50%;
    height:50%;
  }

  .specialpicture10 {
    max-width:none;
    max-height:none;
    width:90%;
    height:50%;
  }

  .specialpicture2 {
    max-width:none;
    max-height:none;
    width:60%;
    height:50%;
  }

  .specialpicture4 {
    max-width:none;
    max-height:none;
    width:70%;
    height:50%;
  }
}

