body {
    color:white;
    background-color:deeppink;
    font-family: 'AkzidenzGroteskStd'

}

@font-face {
    font-family:'AkzidenzGroteskStd'; /*a name to be used later*/
    src: url('./fonts/AkzidenzGroteskStd-Md.otf'); /*URL to font*/
}

#container {
    background-color:none;
    display: block;
    margin: auto;
    width: 90%;
    height: 90%;
    margin-top: 10%;


}

.kanye {
    background-color:none;
    width:50%;
    height:50%;
    margin: auto;
    

 
}

#quote {
    background-color:none;



}


.picture {
    max-height: 50%;
    max-width: 50%;
    display: block;
    margin: auto;

}  

p.quote {
    font-size: 2em;
    text-align: center;
    font-weight: bold;
}

@media only screen and (max-device-width : 320px) {

  p.quote {
    font-size: 3em;
  } 


  #container {
    background-color:none;
    display: block;
    margin: auto;
    width: 100%;
    height: 100%;
    margin-top: 40%;    
  }

  #quote {
    top:100%;
  }

  .picture {
    max-width:none;
    max-height:none;
    width:100%;
    height:100%;
  }

  .specialpicture10 {
    max-width:none;
    max-height:none;
    width:90%;
    height:50%;
  }

  .specialpicture2 {
    max-width:none;
    max-height:none;
    width:100%;
    height:50%;
  }

  .specialpicture4 {
    max-width:none;
    max-height:none;
    width:100%;
    height:50%;
  }
}

@media only screen and (max-device-width : 375px) {
  
  p.quote {
    font-size: 3em;
  }  

  #container {
    background-color:none;
    display: block;
    margin: auto;
    width: 100%;
    height: 100%;
    margin-top: 40%;    
  }

  #quote {
    top:100%;
  }

  .picture {
    max-width:none;
    max-height:none;
    width:100%;
    height:100%;
  }

  .specialpicture10 {
    max-width:none;
    max-height:none;
    width:90%;
    height:50%;
  }

  .specialpicture2 {
    max-width:none;
    max-height:none;
    width:100%;
    height:50%;
  }

  .specialpicture4 {
    max-width:none;
    max-height:none;
    width:100%;
    height:50%;
  }    

}

@media only screen and (max-device-width : 414px){

  p.quote {
    font-size: 3em;
  }  

  #container {
    background-color:none;
    display: block;
    margin: auto;
    width: 100%;
    height: 100%;
    margin-top: 40%;    
  }

  #quote {
    top:100%;
  }

  .picture {
    max-width:none;
    max-height:none;
    width:100%;
    height:100%;
  }

  .specialpicture10 {
    max-width:none;
    max-height:none;
    width:90%;
    height:50%;
  }

  .specialpicture2 {
    max-width:none;
    max-height:none;
    width:100%;
    height:50%;
  }

  .specialpicture4 {
    max-width:none;
    max-height:none;
    width:100%;
    height:50%;
  }  

}

@media only screen and (max-device-width : 768px){

  p.quote {
    font-size: 3em;
  }  

  #container {
    background-color:none;
    display: block;
    margin: auto;
    width: 100%;
    height: 100%;
    margin-top: 30%;    
  }

  #quote {
    top:100%;
  }

  .picture {
    max-width:none;
    max-height:none;
    width:100%;
    height:100%;
  }

  .specialpicture10 {
    max-width:none;
    max-height:none;
    width:90%;
    height:50%;
  }

  .specialpicture2 {
    max-width:none;
    max-height:none;
    width:100%;
    height:50%;
  }

  .specialpicture4 {
    max-width:none;
    max-height:none;
    width:100%;
    height:50%;
  }  

}


